

<ul id="navbar">
    <li class="active"><a href="#">press</a></li>
    <li><%= link_to "back", new_cocktail_path %></li>

</ul>


<div class="banner-new">
  <div class="banner-content">
    <h1>Order your cocktail</h1>
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
</div>
</div>


<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made by Andy Levis <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
