// Place all the styles related to the Cocktail controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner {
  background-image: url('https://images.unsplash.com/photo-1473429174434-a8a8d5e0dc2e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=703b6db7761c9073368fd199592e6c6c&auto=format&fit=crop&w=1051&q=80');
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
/* Zoom In #2 */
.hover02 figure img {
  width: 300px;
  height: auto;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover02 figure:hover img {
  width: 350px;
}
#navbar {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    height: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
    // background: #002;
    background: opacity 0.5;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

#navbar li {
    position: relative;
    float: left;
    line-height: 60px;
    background: inherit;
    text-align: center;
    transition: all .2s;
}

#navbar li a {
    position: relative;
    display: block;
    padding: 0 20px;
    line-height: inherit;
    color: white;
    text-decoration: none;
}

#navbar li:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background: #250;
    border-radius: 50%;
    transform: rotate(45deg);
    transition: all 0, background .2s;
}
#navbar li:hover:before {
    margin-top: 1px;
    border-radius: 50% 50% 0 50%;
    transition: all .1s, background .2s, margin-top .2s cubic-bezier(.5,30,.2,0);
}
#navbar li:hover,
#navbar li:hover:before {
    background: #FC4C02;
}
#navbar li.active,
#navbar li.active:before {
    background: opacity 0.7;
}
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
.banner-new {
  background-image: url('https://images.unsplash.com/photo-1522755500301-ce39e75b658d?ixlib=rb-0.3.5&s=9476f05de75987b5f09b54b444a331b0&auto=format&fit=crop&w=1500&q=80');
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-show {
  background-image: url('https://images.unsplash.com/photo-1526235453614-3e8e03c00f4e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=301d5e888fc703d12dde63ae59a6d811&auto=format&fit=crop&w=700&q=60');
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flip-container{
  width: 25%;
  float: left;
  text-align: center;
  height: 300px;
}

.flip3D h3{
  color: #ffffff;
  font-size: 1.5em;
  position: relative;
  top: 30%;
}

.flip3D{ width:250px; height:210px; margin:0 auto; cursor: pointer;/*float:left;*/ }
.flip3D > .front{
  position:absolute;
  -webkit-transform: perspective( 600px ) rotateY( 0deg );
  -ms-transform: perspective( 600px ) rotateY( 0deg );
  transform: perspective( 600px ) rotateY( 0deg );
  background-image: url(https://tinyurl.com/y9rlzzdy);; width:240px; height:200px; border-radius: 2px;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility:  hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .5s linear 0s;
  transition: -ms-transform .5s linear 0s;
  transition: transform .5s linear 0s;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
.flip3D > .back{
  position:absolute;
  -webkit-transform: perspective( 600px ) rotateY( 180deg );
  transform: perspective( 600px ) rotateY( 180deg );
  background-image:url(https://tinyurl.com/yd2o2zmq); width:240px; height:200px; border-radius: 2px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform .5s linear 0s;
  transition: transform .5s linear 0s;
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.flip3D:hover > .front{
  -webkit-transform: perspective( 600px ) rotateY( -180deg );
  transform: perspective( 600px ) rotateY( -180deg );
}

.flip3D:hover > .back{
  animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */

  -webkit-transform: perspective( 600px ) rotateY( 0deg );
  transform: perspective( 600px ) rotateY( 0deg );
}


